
h1{
    color:yellow;
} 

.container-nav {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  place-items: center;
  background: rgb(2,0,36) !important ; 
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 11%, rgba(0,212,255,1) 100%) !important;
}


.navlink {
 display: flex;
 

}
.btn-grad {
  
  background-image: linear-gradient(
    to right,
    #d80303 0%,
    #f00000 51%,
    #faea04 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


