<div class="container-nav">
  <h1>Pokemon app!</h1>
  <div class="navlink">
    <button class="btn-grad" (click)="topc()">Pokemoncataloge</button>
    <button class="btn-grad"(click)="toTP()">Trainerpage</button>
    <button class="btn-grad" (click)="tologout()">Logout</button>
  </div>

  <!-- <button (click)="tologout()">Logout</button> -->
</div>
<hr />
