<app-navbar-page> </app-navbar-page>


<div class="container" *ngIf="pokemons">
  <div clas="wrapper" *ngFor="let pokemon of pokemons; index as i">
    <div class="content">
      <div class="text"> 
      {{ pokemon.data.name }}
     </div>
     <div class="pic">  
      <img src="{{ pokemon.imgObjetUrl }}" alt="" />
     </div>

     <div class="button" >
      <button
        [id]="i"
        (click)="onselect(pokemon, $event)"
        [ngClass]="catched ? 'green' : 'danger'"
      >
        Catch!
      </button>
    </div>
    </div>
  </div>
</div>
