.green {
  background-color: green !important;
}

.danger {
  width: 4rem;
  border-radius: 50%;
  background: red;
  height: 4rem;
  font-weight: bold;
  font-size: 0.8rem;
  border: 5px solid black;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border: 1px solid black;
}

.content {
  border: 3px solid red;
  margin: 2px;
}

.text {
  text-align: center;
  color: red;
  font-size: 20px;
}

.pic {
  text-align: center;
}

.button {
  text-align: center;
}
