
<div class="container">
  <h1>Pokemon!</h1>
  <input
    type="text"
    class="input"
    placeholder="Type in your name"
    name="username"
    (keyup)="onKey($event)"
  />
  <button class="btn-grad" (click)="loginButton()">Login</button>
</div>

<router-outlet></router-outlet>
