<app-navbar-page> </app-navbar-page>
<h1>Welcome trainer {{ name }}</h1>
<h3>Your Pokemons:</h3>
<div class="container">
  <div class="wrapper">
    <div class="content" *ngFor="let p of tp">
    <div class="text" >
      {{ p.data.name }}
</div>
    <div class="pic">
      <img src="{{ p.imgObjetUrl }}" alt="" />
    </div >
    </div>
  </div>
</div>

<router-outlet></router-outlet>


