.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border: 1px solid black;
}

.content {
  border: 3px solid red;
  margin: 2px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
h1 {
  text-align: centere;
}

.text {
  text-align: center;
  color: red;
  font-size: 20px;
}

.pic {
  text-align: center;
}
